
Probability and Statistics/Integer Partition/Integer Partition.xcodeproj/xcuserdata/pixelapple.xcuserdatad/xcschemes/xcschememanagement.plist
Probability and Statistics/Integer Partition/Integer Partition.xcodeproj/project.pbxproj
Probability and Statistics/Integer Partition/Integer Partition.xcodeproj/project.xcworkspace/contents.xcworkspacedata
*.pbxproj
*.xcworkspacedata
